@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: "AmericanCaptain";
  src: url('../../fonts/American\ Captain.ttf');
  font-weight: normal;
  font-style: normal;
}
@tailwind components;
@tailwind utilities;
@tailwind base;
.parallaxTitle {
  font-family: "AmericanCaptain"
}
.ant-btn-primary {
  background-color: #303356;
  width: 10rem;
  height: 2.5rem;
}
.ant-btn-primary span {
  margin: auto;
  height: fit-content;
}
.ant-btn-primary:hover {
  background-color: #474b7c !important;
}
.ant-btn-primary:active {
  background-color: #474b7c !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex{
  display: flex;
}
a {
  color: inherit;
  text-decoration: none;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.center {
  text-align: center;
  margin: auto;
  width: fit-content;
}

/* .parallax {
  border-radius: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  overflow: hidden;
} */
/* .parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  max-height: 100rem;
  width: 100vw;
  margin: auto;
  overflow: hidden;
} */

#text {
  position: absolute;
  font-size: 5em;
}


#jude {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
  opacity: 0.5;
  color: white;
}
#jude h1 {
  margin: auto;
  height: fit-content;
}

#header{
  width: fit-content;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 10rem;
}

/* #layer1 {
  transform: translateZ(-10px) scale(2);
}
#layer3 {
  transform: translateZ(-5px) scale(1.5);
} */


#layer1cn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#layer1cn:before {
  content: "";
  z-index: 1;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, #1fa0e0, rgba(255,255,255,0) 90%);
  width: 100%;
  height: 14em;
}


#main::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translatey(-100%);
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 4em
}

.myButton::after {
    /* content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0.5rem;
    right: 0.5rem;
     */
    content: attr(title);
    background-color: #133C54;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0.45rem;
    right: -0.45rem;
    display: block;
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myButton:active::after {
  top: -.1rem;
  right: -.1rem;
  
}
.myButton:hover::after {
  -webkit-transform: translate(-0.1rem, 0.1rem); 
  transform: translate(-0.1rem, 0.1rem);
}
.myButton span {
  display: block;
  position: relative;
  z-index: 2;
}

.blob-clip  {
  transition: all 1s ease-in-out;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.see-more .BsArrowRight {
  transition: all 0.2s cubic-bezier( 0.14, 0.44, 0.29, 0.8 ) ;
}
.see-more:hover .BsArrowRight {
  transform: translateX(4px)
}